{% extends "layout.html" %}

{% block title %}History{% endblock %}

{% block body %}
		
		<header class="normal-header">
			<div class="container">
				<a href="{{ url_for('dashboard') }}"><h1>💰Weeper</h1></a>
				<div class="hamburger-toggle"><i class="fas fa-bars" style="font-size: 1.5em; margin: 0; padding: 0;"></i></div>
				<nav class="normal-nav">
					<ul>
						<li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
						<li><a href="{{ url_for('history') }}" id="active">History</a></li>
						<li><a href="{{ url_for('profile') }}">Profile</a></li>
					</ul>
				</nav>
				<div class="clearfix"></div>
			</div>
		</header>
		

	<section>
		<div class="container">

			<h2>Trnasaction History:</h2>

			{% for i in transaction_list %}
			<div class="transaction">
				<div class="transaction-inner">
					<img src="static/img/{{i.type}}icon.png">
					<div class="transaction-text">
						<h2>{{ i.store }}  - {{ i.balance }} RON ( at {{ i.time }}, {{ i.day }}.{{ i.month }}.{{ i.year }} )</h2>
						<p>Type: {{ i.type }}</p>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</section>
{% endblock %}