{% extends "layout.html" %}

{% block title %}Subtract{% endblock %}

{% block body %}
		
		<header class="normal-header">
			<div class="container">
				<a href="{{ url_for('dashboard') }}"><h1>💰Weeper</h1></a>
				<div class="hamburger-toggle"><i class="fas fa-bars" style="font-size: 1.5em; margin: 0; padding: 0;"></i></div>
				<nav class="normal-nav">
					<ul>
						<li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
						<li><a href="{{ url_for('history') }}">History</a></li>
						<li><a href="{{ url_for('profile') }}">Profile</a></li>
					</ul>
				</nav>
				<div class="clearfix"></div>
			</div>
		</header>
		

	<section>
		<div class="container">
			<pre>
				<a href="{{ url_for('about') }}">About</a>
				<a href="{{ url_for('dashboard') }}">Dashboard</a>
				  ├──<a href="{{ url_for('topup') }}">Topup</a>
				  ├──Upload photo
				  └──<a href="{{ url_for('subtract') }}">Subtract</a>
				<a href="{{ url_for('history') }}">History</a>
				<a href="{{ url_for('profile') }}">Profile</a>
				<a href="{{ url_for('sitemap') }}">Sitemap</a>
			</pre>
		</div>
	</section>
{% endblock %}